.footer-container {
	padding: 1rem;
	text-align: center;
	font-size: 1rem;
	color: gray;
	span {
		font-weight: 500;
		color: #fff;
	}
	svg {
		vertical-align: middle;
		margin: 0 0.3rem;
		animation: footer 4s infinite linear alternate;
	}

	@keyframes footer {
		0% {
			transform: translateY(-5px);
		}
		100% {
			transform: translateY(5px);
		}
	}
}
