#hero {
	height: 600px;
	color: honeydew;
	display: flex;
	align-items: center;

	.hero-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 1.2rem;
		text-align: center;
		height: 600px;

		.typist {
			width: 100%;

			.header {
				font-size: 4em;
				margin-bottom: 3rem;
				letter-spacing: 2px;
			}
		}

		@media screen and (max-width: 768px) {
			height: 400px;

			.typist {
				.header {
					font-size: 3em;
				}
			}
		}
	}
}
